a {
  color: #666666; 
}

a:hover {
  text-decoration: underline;
  color: #666666;
}

body {
  background-color: #fbfbfb;
  color: #666666;
  width:100%;
}

#content {border-bottom: thin solid #ff0000; background:#ffffff; position:relative; 
min-height:650px; bottom:63px; padding-top:25px;}

.bold {font-weight:bold;}

/*.round-panel {padding:8px; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; 
color:#666666;
border:thin solid #ccc;
background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 43%, #d2d2d2 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(43%,#f2f2f2), color-stop(100%,#d2d2d2)); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 43%,#d2d2d2 100%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 43%,#d2d2d2 100%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 43%,#d2d2d2 100%); /* IE10+ */
/*background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 43%,#d2d2d2 100%); /* W3C */
 /*}*/

 .round-panel {padding:8px; border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px; 
color:#666666;}



.bubble-spaceing-advanced.longer {
    height: 100px !important;
}

a.what_this {color:#1f73b0; text-decoration:none; font-weight:normal;}

.content-panel-with-header.noline {border-left:none;}

.content-panel-with-header.rtspace {padding-left:17px;}

.level3 {margin-bottom:10px !important;}

p.indent {text-indent: 10px;}

a.other_options {text-decoration:underline;}

a.other_options.color{color:#6CA7CB;}

.round-panel.date {height:32px;}

.row2 a:hover, a.goInternet:hover {text-decoration:none; color:#1f73b0;}

tr.shaded {background-color:#e0e0e0 !important;}

.shaded_area {background-color:#e5e3e3 !important; padding: 5px 5px 10px 10px; margin:15px 0 15px 0;}

select, input[type='text'], input[type='number'], input[type='password'] {-moz-box-shadow: 2px 2px 3px #666 inset; -webkit-box-shadow: 2px 2px 3px #666 inset; box-shadow: 2px 2px 3px #666 inset; border:1px solid #F4F4F4;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::i-block-chrome, select {
      border: 1px solid #333;
      outline: 1px solid #FFF;
    }
}

.heading {margin-bottom: -1px;}

.hidden {display:none;}

.centerer, .container.header_center {width:997px; margin: 0 auto;}

 #bgimage {width:100% !important;} 

.routerImg  {margin-left:39px; margin-right:10px; margin-bottom:15px; position: relative;
    top: 3px; width:20px; float:left;}

p.routerStatus {line-height:110%; margin-bottom:3px;}

.connection {width:200px;}

.faq-help-logout-login a, .faq-help-logout-login {  bottom: 66px; color: #6D6E71 !important;
left: 383px;  position: relative; width: 200px;}

.leftImgGlobe{
 float:left;
 margin-bottom:11px;
  margin-left:22px; 
  width:35px;
 }

.rightImgGlobe{
  margin-left:50px;
 }

 button.wpstoggle img {position:relative;top:-2px; left:1px;}
 button.wpstoggle {padding:3px 9px 2px 9px; color:#666666; font-weight: bold; margin-left:13px; border:none; background:none;}

 .btn.wirelessmac {margin-top:5px; margin-bottom:5px;}

.wps_push {position:relative;}
.wps_push .icon {position:absolute; background: url(../img_wh/small_wps_button_icon.png) no-repeat;
 background-position: 6px 2px; top:1px; bottom:1px; height:25px; width:28px;}

td.text_line {padding-bottom:15px;}
.network-wrapper-col-right {position:relative;}

.icons-left-network .computer-image, .icons-left-network .computer-image.inact,
.icons-left-network .tablet-image, .icons-left-network .tablet-image.inact,
.icons-left-network .camera-image, .icons-left-network .camera-image.inact,
.icons-left-network .ip-stb-image, .icons-left-network .ip-stb-image.inact,
.icons-left-network .phone-image, .icons-left-network .phone-image.inact,
.icons-left-network .printer-image, .icons-left-network .printer-image.inact,
.icons-left-network .nas-image, .icons-left-network .nas-image.inact,
.icons-left-network .unknown-image.inact, .icons-left-network .unknown-image {
    width: 22px;
    bottom: 0px;
    margin: 0px;
    padding: 38px 30px 0 0;
}

.rightlinks-network {position: absolute; right: -12px; top: 66px;}
.nav {margin: -73px 1px 0 0 !important;}

.stripe {
  padding-left: 77px;
  height: 78px;
  float: left;
}

#network_tab {margin-left:16px; margin-right:-19px;}
#main_tab {margin-left:-5px; margin-right:-5px;}
#firewall_tab {margin-left:5px; margin-right:5px;}
#advanced_tab {margin-left:6px; margin-right:3px;}

.btn.small.right.defaults {position:relative; right:64px; top:23px;}

.input_pair_wrap {margin:20px 0 0}
.input_pair {margin:10px 0 0}
.input_pair label {float:left;width: 200px;margin: 0 10px 0 70px;font-weight:bold}
.input_pair .inputPass{float: left;width: 200px}
.input_pair .info_msg{font-size:9px;white-space:nowrap;float:left;margin: -10px 0 0 280px}
.input_pair .btnPass{ float: right;right:0 !important;top: 0 !important}

.navbar {
border-bottom: 1px solid #6d6e71;
background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 43%, #d2d2d2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(43%,#f2f2f2), color-stop(100%,#d2d2d2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 43%,#d2d2d2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 43%,#d2d2d2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 43%,#d2d2d2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 43%,#d2d2d2 100%); /* W3C */
height: 119px;

}

/*advanced menu*/

.three_col {float:left; width: 220px;}

.sectitle {font-size:16px; color:#666666;}
.sectitle.utilities {padding-left:30px; padding-top:10px; height:24px; background-image:url(../img_wh/utilities_icon.png); background-position:-2px 2px; background-repeat:no-repeat;}
.sectitle.dns {padding-left:27px; padding-top:10px; height:24px; background-image:url(../img_wh/dns_icon.png); background-position:-2px 2px; background-repeat:no-repeat;}
.sectitle.network {padding-left:27px; padding-top:10px; height:24px; background-image:url(../img_wh/network_icon.png); background-position:-2px 2px; background-repeat:no-repeat;}
.sectitle.config {margin-top: 42px;padding-left:27px; padding-top:31px; height:24px; background-image:url(../img_wh/config_icon.png); background-position:-2px 25px; background-repeat:no-repeat;}
.sectitle.date {padding-left:37px; padding-top:10px; height:24px; background-image:url(../img_wh/date_time_icon.png); background-position: 2px 2px; background-repeat:no-repeat;}
.sectitle.firmware {padding-left:27px; padding-top:10px; height:24px; background-image:url(../img_wh/firmware_upgrade_icon.png); background-position:-2px 2px; background-repeat:no-repeat;}
.sectitle.routing {padding-left:27px; padding-top:55px; height:24px; background-image:url(../img_wh/routing_icon.png); background-position:-2px 48px; background-repeat:no-repeat;}

.brand {
 background: url(../img_wh/verizon_logo.png) no-repeat;
 background-position: 0 0;
  height:42px;
}
.logo_img img{display: none;}
@media print {
    .hyperlink{display: none;}
    .logo_img img{display:inline; position: absolute; top: 5px; height:104px;width: 104px}
}

.plainlower {margin-top:64px;}
.login_button {margin-top:18px;}

.btn {padding:4px 36px;  text-decoration: none !important;}

.btn.semi {padding: 4px 15px;}

.btn.small {font-size: 12px; padding: 2px 16px;}

.content-panel, .content-panel-with-header {
  border-left: 1px solid #666666;
}

.content-panel-with-header .header {
    font-weight: normal!important;
    height: 37px;
    line-height: 37px;
    font-size:18px;
    padding: 0 0 15px;
    text-align: left;
    vertical-align: middle;
}

.line-height-small
{
    line-height: 22px !important;
    height: auto !important;

}

.nas-image {
  background: url(../img_wh/nas_device_icon.png);
  background-repeat: no-repeat;
  bottom: 32px;

}

.nas-image.inact {
  background: url(../img_wh/nas_device_icon_offline.png);
  background-repeat: no-repeat;
  bottom: 32px;
}

.nas-image.blocked {
    background: url(../img_wh/nas_device_icon_blocked.png);
    background-repeat: no-repeat;
    bottom: 32px;
}

.nas-image.inact.blocked {
  background: url(../img_wh/nas_device_icon_offline_blocked.png);
  background-repeat: no-repeat;
  bottom: 32px;
}


.computer-image {
  background: url(../img_wh/computer_icon.png);
  background-repeat: no-repeat;
  bottom: 32px;
}

.computer-image.inact {
  background: url(../img_wh/computer_icon_offline.png);
  background-repeat: no-repeat;
  bottom: 32px;
}

.computer-image.blocked {
    background: url(../img_wh/computer_icon_blocked.png);
    background-repeat: no-repeat;
    bottom: 32px;
}

.computer-image.inact.blocked {
  background: url(../img_wh/computer_icon_offline_blocked.png);
  background-repeat: no-repeat;
  bottom: 32px;
}

.tablet-image {
  background: url(../img_wh/tabletPc_icon.png);
  background-repeat: no-repeat;
  bottom: 32px;

}

.tablet-image.inact {
  background: url(../img_wh/tabletPc_icon_offline.png);
  background-repeat: no-repeat;
  bottom: 32px;
}

.tablet-image.blocked {
    background: url(../img_wh/tabletPc_icon_blocked.png);
    background-repeat: no-repeat;
    bottom: 32px;
}

.tablet-image.inact.blocked {
  background: url(../img_wh/tabletPc_icon_offline_blocked.png);
  background-repeat: no-repeat;
  bottom: 32px;
}

.camera-image {
  background: url(../img_wh/networkCamera_icon.png);
  background-repeat: no-repeat;
  bottom: 32px;

}

.camera-image.inact {
  background: url(../img_wh/networkCamera_icon_offline.png);
  background-repeat: no-repeat;
  bottom: 32px;
}

.camera-image.blocked {
    background: url(../img_wh/networkCamera_icon_blocked.png);
    background-repeat: no-repeat;
    bottom: 32px;
}

.camera-image.inact.blocked {
  background: url(../img_wh/networkCamera_icon_offline_blocked.png);
  background-repeat: no-repeat;
  bottom: 32px;
}

.phone-image {
  background: url(../img_wh/phone_icon.png);
  background-repeat: no-repeat;
  bottom: 32px;

}

.phone-image.inact {
  background: url(../img_wh/phone_icon_offline.png);
  background-repeat: no-repeat;
  bottom: 32px;
}

.phone-image.blocked {
    background: url(../img_wh/phone_icon_blocked.png);
    background-repeat: no-repeat;
    bottom: 32px;
}

.phone-image.inact.blocked {
  background: url(../img_wh/phone_icon_offline_blocked.png);
  background-repeat: no-repeat;
  bottom: 32px;
}

.printer-image {
  background: url(../img_wh/printServer_icon.png);
  background-repeat: no-repeat;
  bottom: 32px;

}

.printer-image.inact {
  background: url(../img_wh/printServer_icon_offline.png);
  background-repeat: no-repeat;
  bottom: 32px;
}

.printer-image.blocked {
    background: url(../img_wh/printServer_icon_blocked.png);
    background-repeat: no-repeat;
    bottom: 32px;
}

.printer-image.inact.blocked {
  background: url(../img_wh/printServer_icon_offline_blocked.png);
  background-repeat: no-repeat;
  bottom: 32px;
}


.ip-stb-image {
  background: url(../img_wh/ipSetTopBox_icon.png);
  background-repeat: no-repeat;
  bottom: 32px;

}

.ip-stb-image.inact {
  background: url(../img_wh/ipSetTopBox_icon_offline.png);
  background-repeat: no-repeat;
  bottom: 32px;
}

.ip-stb-image.blocked {
    background: url(../img_wh/ipSetTopBox_icon_blocked.png);
    background-repeat: no-repeat;
    bottom: 32px;
}

.ip-stb-image.inact.block {
  background: url(../img_wh/ipSetTopBox_icon_offline_blocked.png);
  background-repeat: no-repeat;
  bottom: 32px;
}


.bandwidthSelect {margin-left:60px !important;}

.dark-table th {
  color:#666666;
}

.content-panel-with-header {
    margin-bottom: 40px;
  }

.dark-table.grow select {height:auto;}

  select.ip_forward { width:246px !important;}

.hazard_buttons {text-align:center; margin-bottom:15px;}


.dark-table.full_row th:nth-child(even) {
background-color: #e0e0e0 !important;
}

.dark-table tr:nth-child(even) {
  background-color: #e0e0e0;
}

.dark-table tr:nth-child(odd) {
  background-color: #ffffff;
}

.input-mini.wider {
    width: 73px;
}

.dark-table tr td a {text-decoration:underline;}

.dark-table tr td.actions a {
    text-decoration: none;
}
.edit-icon {
  background: url(../img_wh/action_icon2.png) no-repeat;
}

.dark-table tr td { font-size: 13px; }

.search-icon {
background: url(../img_wh/search_lens.png) no-repeat;
text-decoration:none;
}

.ethernet-icon {
  background: url(../img_wh/ethernet_icon.png) no-repeat;
}

.failure-image {
  background: url(../img_wh/x_mark.png);
  background-repeat: no-repeat;
}


.green-text {
  color: #079504 !important;
}

.green-text.smaller {
  color: #45fd5f !important;
  font-size:12px;
}

.smaller {font-size:12px;}

.internet-image.upgrade {background-position: 12px 16px;}
  

.internet-image {
  background-image: url(../img_wh/goto_internet_link.png);
  background-repeat: no-repeat;
}

.navbar .nav > li > a {padding: 44px 20px;}

.nav > li {width:122px;}

input.right_space {margin-right:5px;}
.navbar .nav .nav_item { color: #6D6E71; font: 12px arial; width: 134px !important;}

.navbar .nav .selected .nav_item, .navbar .nav .selected .nav_item:hover {
  color: #1f73b0;
}

.navbar .nav .nav_item:hover {
  color: #1f73b0;
}

.navbar .nav .nav_main {
  background: url(../img_wh/main_under.png) no-repeat center top;
}
.navbar .nav .nav_main:hover, .navbar .nav .selected .nav_main {
  background: url(../img_wh/main_over.png) no-repeat center top;
}

.navbar .nav .nav_wireless {
  background: url(../img_wh/wireless_settings_under.png) no-repeat center top;  
}
.navbar .nav .nav_wireless:hover, .navbar .nav .selected .nav_wireless {
  background: url(../img_wh/wireless_settings_over.png) no-repeat center top;  
}

.navbar .nav .nav_network {
  background: url(../img_wh/my_network_under.png) no-repeat center top;  
}
.navbar .nav .nav_network:hover, .navbar .nav .selected .nav_network {
  background: url(../img_wh/my_network_over.png) no-repeat center top;  
}

.navbar .nav .nav_firewall {
  background: url(../img_wh/firewall_under.png) no-repeat center top;  
}
.navbar .nav .nav_firewall:hover, .navbar .nav .selected .nav_firewall {
  background: url(../img_wh/firewall_over.png) no-repeat center top;  
}

.navbar .nav .nav_parental {
  background: url(../img_wh/parental_controls_under.png) no-repeat center top;  
}
.navbar .nav .nav_parental:hover, .navbar .nav .selected .nav_parental {
  background: url(../img_wh/parental_controls_over.png) no-repeat center top;  
}

.navbar .nav .nav_advanced {
  background: url(../img_wh/advanced_under.png) no-repeat center top;  
}
.navbar .nav .nav_advanced:hover, .navbar .nav .selected .nav_advanced {
  background: url(../img_wh/advanced_over.png) no-repeat center top;  
}

.navbar .nav .nav_monitoring {
  background: url(../img_wh/system_monitoring_under.png) no-repeat center top;  
}
.navbar .nav .nav_monitoring:hover, .navbar .nav .selected .nav_monitoring {
  background: url(../img_wh/system_monitoring_over.png) no-repeat center top;  
}

.sidenav {list-style:none; margin:0 0 0 15px;}

.sidenav .active, .sidenav a:hover {
  color:#1f73b0; text-decoration: none;
}

.sidenav a {
  color:#999999;
  font-size:16px;
}


.sidenav li {
    padding-bottom:10px;
    line-height:25px;
}

.clearTable1 tr td {
  padding-left: 84px;
  width: 226px;
}

.clearTable2 tr td {
    width: 226px;
     padding-left: 84px;
}

.main-panel .router-image {
  background: url(../img_wh/router2.png);
 }

.red-text {
  color: #FF0000!important;
}

.form_fields {margin-top: 17px; position: relative; left: 50px;}

.red-text.smaller {
  color: #FF0000;
  font-size: 12px;
}

.remove-icon {
  background: url(../img_wh/small_delete.png) no-repeat;
}


.success-image {
  background: url(../img_wh/Check-Mark.png);
  background-repeat: no-repeat;
}

.unknown-image {
  background: url(../img_wh/unknown_device.png);   
  background-repeat: no-repeat;
}

.unknown-image.inact {
  background: url(../img_wh/unknown_device_offline.png);
  background-repeat: no-repeat;
}

.unknown-image.blocked {
  background: url(../img_wh/unknown_device_blocked.png);
  background-repeat: no-repeat;
}

.unknown-image.inact.blocked {
  background: url(../img_wh/unknown_device_offline_blocked.png);
  background-repeat: no-repeat;
}

.vertical-separator {
  background: #DDDDDD;
  border-bottom: 1px solid #777777;
}

.view-icon {
  background: url(../img_wh/search_lens.png) no-repeat;
}

.wifi-icon {
  background: url(../img_wh/wifi_icon.png) no-repeat;
}

.midTxtBB {
  margin-left: 14px;
  margin-top:1px;
  width:282px !important;
}

.verizon_frame {border:none; overflow:hidden; margin-left:15px;}


.container1 {
     background: none repeat scroll 0 0 #FFFFFF;
    border-color: #000000 #000000 #FF0000;
    border-image: none;
    border-style: solid;
    border-width: 0 0 thin;
    bottom: 65px;
    min-height: 600px;
    padding-bottom: 30px;
    padding-top:20px;
    /*margin-left:-22px;*/
    position: relative;
}

.row2 {margin-left:37px;}
           
                  
.magicCol {
  width: 285px;
  border-left: 2px solid #ccc;
  margin-top:1px;
  min-height:590px;

}

td.wpa_label {font-weight:bold;}



th.wpa_label_wider {
    width: 272px;
}
                
.header1 {text-align:left; font-weight:bold; font-size:18px; padding-left:15px !important;}

.quick.header1 {margin-top:45px;}
  
.midTxtGlobeTxt{border:0px solid white;}
  
.routerTXT {padding-left:10px;}

.vertical-separator2{
    background: none repeat scroll 0 0 #666666 !important;
}

.vertical-separator-nework{
    background: none repeat scroll 0 0 #666666 !important;
}

.verticalShort-separator-nework{
  background: none repeat scroll 0 0 #666666 !important;
}

.get_started_buttons.personalize {bottom: 41px; right: 18px;}

.round{
   background-color: rgba(0,0,0,0.5);
   border-color: #666666;
}


.lb3-text-main{
  color: #45FD5F !important;
}

.internet { position:relative; bottom:-5px;}

.softTxt{
  color:#666666 !important;
  }
  

.link-arrow:hover{
  border:0px solid black;
  background-image:url(http://192.168.1.1/img_wh/external_link_arrow2.png);
  background-repeat: no-repeat;
  background-position:right top;
}

.link-arrow{
background-position: -100px 0px; 
}

a.noLINK:link{ color: #78AEF8; text-decoration: none !important;}
a.noLINK:visited{color: #78AEF8; text-decoration: none !important;}
a.noLINK:hover{color: #78AEF8; text-decoration: none !important;}
a.noLINK:active{color: #78AEF8; text-decoration: none !important;}


.bubble-network{
  border-left: 1px solid; border-color: #666666;
  margin-top: 20px;
color:#666666;
background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 43%, #d2d2d2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(43%,#f2f2f2), color-stop(100%,#d2d2d2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 43%,#d2d2d2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 43%,#d2d2d2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 43%,#d2d2d2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 43%,#d2d2d2 100%); /* W3C */

}

.ip_line {position:relative; left:17px;}

.security_settings {font-size:16px!important;}

.header-flush-left {font-size:16px;}

.faq-help-logout-login a {color:#fff;}

.select_device {border-bottom:thin solid #666;}

.step_three {border-top:thin solid #666;}

.current_version {color:LimeGreen;}

td.indent {padding-left: 27px !important;}

tr.bridge_labels {padding-left:15px;}

tr.bridge_labels .Ethernet, tr.bridge_labels .Wireless {background-position: 0 4px; left: 5px; position: relative;}

.Network {padding-left:17px; background-image:url(../img_wh/ethernet_icon.png); background-repeat: no-repeat; background-position:-1px 3px;}

.Broadband {padding-left:17px; background-image:url(../img_wh/wifi_icon.png); background-repeat: no-repeat; background-position:0px 3px;}

.Wireless {padding-left:17px; background-image:url(../img_wh/wifi_icon.png); background-repeat: no-repeat; background-position:0px 3px;}

.WAN {padding-left:17px; background-image:url(../img_wh/wifi_icon.png); background-repeat: no-repeat; background-position:0px 3px;}

.Ethernet {padding-left:17px; background-image:url(../img_wh/ethernet_icon.png); background-repeat: no-repeat; background-position:0px 3px;}

.Coax {padding-left:17px; background-image:url(../img_wh/coax_icon.png); background-repeat: no-repeat; background-position:0px 3px;}

.BridgedItem {margin-left: 17px;}

.start_time p {margin-bottom:5px;}

input.textgrey {color:#cccccc;}

input.textblack {color:#000000;}

/*WPS*/

.orline {  background-color: #FFFFFF; height: 20px; left: 325px; position: absolute; text-align: center; top: 42px; width: 39px;}

.subhead {font-size:16px; margin-top:27px; margin-bottom:2 0px;}

.btn.register_button {margin-bottom:13px;}

.btn.client {margin-top:5px;}

.btn.add_connect {margin-bottom:15px;}

.btn.fail {margin-top:10px;}

.abutton {background-image: url(../img_wh/a_bubble.png); 
  background-repeat: no-repeat; padding:2px 9px; float: left; height: 20px; width: 10px;}

.bbutton {background-image: url(../img_wh/b_bubble.png); background-repeat: no-repeat; float: left; height: 45px; padding: 2px 9px; width: 10px;}

.reg_set, .pin_set, .wps_connecting, .wps_success, .wps_failure {background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 43%, #d2d2d2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(43%,#f2f2f2), color-stop(100%,#d2d2d2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 43%,#d2d2d2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 43%,#d2d2d2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 43%,#d2d2d2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 43%,#d2d2d2 100%); /* W3C */
margin-top: 20px; padding:10px; border: thin solid #ccc; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px; -ms-border-radius:8px;}

.select-large { width: 275px;}

/*FF hacks keep at bottom*/

@-moz-document url-prefix() {
   .bubble-spaceing-advanced.longer {height: 108px !important;}
   .round-panel.date {height:34px;}

}

.coax-icon {
  background: url(../img_wh/coax_icon.png) no-repeat;
}

.cross-browser-change{
  border-left: none;
}

.spacePrivacyPassword{
    height: 29px;
    vertical-align: middle;
}

.spacePrivacyPassword1{
    height: 24px;
    vertical-align: middle;
}

.spacePrivacyPassword2{
    vertical-align: middle;
}

 button.wpstoggle:focus {outline:0;}

 button.dmztoggle img {position:relative;top:-2px; left:1px;}
 button.dmztoggle {padding:3px 9px 2px 9px; color:#666666; font-weight: bold; margin-left:1px; border:none; background:none;}
 button.dmztoggle:focus {outline:0;}

.computer-image.blocked.device, .computer-image.inact.blocked.device,
.tablet-image.blocked.device, .tablet-image.inact.blocked.device,
.nas-image.blocked.device, .nas-image.inact.blocked.device,
.camera-image.blocked.device, .camera-image.inact.blocked.device,
.phone-image.blocked.device, .phone-image.inact.blocked.device,
.printer-image.blocked.device, .printer-image.inact.blocked.device,
.ip-stb-image.blocked.device, .ip-stb-image.inact.blocked.device,
.unknown-image.blocked.device, .unknown-image.inact.blocked.device {
    bottom: 0px;
}